<!DOCTYPE html>
<html>
	<head>
		<title>雷霆项目组</title>
        <style>
        .milky {
                font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
                text-transform: uppercase;
                display: block;
                font-size: 52px;
                color: #212121;
                text-shadow: 0 8px 3px #c4b59d, 0px -2px 1px #fff;
                font-weight: bold;
                letter-spacing: -4px;
                text-align: center;
                position: absolute;
                padding: 100px 200px;
                top: 30%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 20px;
                }
        </style>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/webtool/site_media/lib/other/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/webtool/site_media/lib/other/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<script src="/webtool/site_media/lib/jquery-easyui-1.4.2/jquery.min.js"></script>
	</head>
		
	<body>
        <div class="milky">雷霆QA工具</div>
		<div style="height:350px"></div>
		<div class="container">		
	    	<!--链接区域-->
			<div id="feature" class="banner-bottom">
				<div class="banner-bottom-grids">
					<div class="banner-bottom-grid">
						<div class="um-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">分配变更系统</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/moc/index'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div class="banner-bottom-grid">
						<div class="toy-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">游戏打包</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='http://192.168.131.92:8080/view/LX6/'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="banner-bottom-grid">
						<div class="um-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">Excel分配系统</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='http://192.168.131.233:9090/webtool/assign_zqjt/index/'>最强军团（檀君）</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<!--
					<div class="banner-bottom-grid">
						<div class="um-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">配表查询</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/conf_query/index/'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					-->			
				</div>
				<div class="banner-bottom-grids">
					<div class="banner-bottom-grid">
						<div class="graph-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">回归进度与报告</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/regression/index/'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="banner-bottom-grid">
						<div class="arr-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">版本下载</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='http://10.240.172.242/#'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div> 
					<div class="banner-bottom-grid">
						<div class="tie-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">SVN提交分配</font></span></h3>
                            <p><a target='_blank' style='color:#636363' href='/webtool/svn_cmt_assign/index'>最强军团（檀君）</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!--
					<div class="banner-bottom-grid">
						<div class="t-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">Win服务端日志</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/server_log/index'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
					-->			
				</div>
				<div class="banner-bottom-grids">
					<div class="banner-bottom-grid">
						<div class="t-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">Linux服务端日志</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/server_log/index'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div class="banner-bottom-grid">
						<div class="tie-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">质量报告统计</font></span></h3>
                            <p><a target='_blank' style='color:#636363' href='http://192.168.131.82/pm/info_leiting.php'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="banner-bottom-grid">
						<div class="t-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">用例管理系统</font></span></h3>
							<p><a target='_blank' style='color:#636363' 
							href='http://tc.hz.netease.com/#/project/617/case?path=/0/1068673&caseId=1068685&view=table'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div> 
				<div class="banner-bottom-grids">
					<div class="banner-bottom-grid">
						<div class="box-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">构建失败记录</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/build/index'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="banner-bottom-grid">
						<div class="tie-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">版本POPO通知</font></span></h3>
                            <p><a target='_blank' style='color:#636363' href='http://10.240.172.242/qa#'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div class="banner-bottom-grid">
						<div class="t-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h3><span><font color="red">信息集合</font></span></h3>
							<p><a target='_blank' style='color:#636363' href='/webtool/info_set/index'>LX6项目(倩女2)</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>					
				</div>  
			</div>
		</div>
	</body>
</html>