 <html>
     <head>
        <title>MTL实验室</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="/webtool/site_media/lib/jquery-easyui-1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>                               
        <script src="/webtool/site_media/lib/highcharts/highcharts.js" type="text/javascript"></script>
        <script type="text/javascript">
			$(function () {
				$('#container0').highcharts({
					title: {
						text: '',
						x: -20 //center
					},
					xAxis: {
						type:'linear',
						tickInterval:50,
						title: {
							text: '帧数'
						}
					},
					yAxis: {
						min:0,
						title: {
							text: 'FPS'
						},
                        plotLines: [{   
                            value: 20,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                            
                        },{  
                            value: 30,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                
                        }] 

					},
					tooltip: {
						valueSuffix: ''
					},
					plotOptions:{
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					series: [{
						name: 'FPS',
						data: {{FPSRes.FPSList|safe}}
					}]
				},function(chart){
                    InitialYaxisLabelsFPS(chart);
                });

				$('#container1').highcharts({
					title: {
						text: '',
						x: -20 //center
					},
					xAxis: {
						type:'linear',
						tickInterval:50,
						title: {
							text: '帧数'
						}
					},
					yAxis: {
                        min:0,
						title: {
							text: 'DrawCalls'
						},
						plotLines: [{   
                            value: 200,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                        }] 
					},
					plotOptions:{
						series:{
			                showCheckbox:true
			            }
					},
					legend: {
						enabled: false,
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'top',
						borderWidth: 0,
					},
					series: [{
						name: 'DrawCalls',
						data: {{DCRes.DCList|safe}}
					}]
				},function(chart){
                    InitialYaxisLabelsDC(chart);
                });

				$('#container2').highcharts({
					title: {
						text: '',
						x: -20 //center
					},
					xAxis: {
						type:'linear',
						tickInterval:50,
						title: {
							text: '帧数'
						}
					},
					yAxis: {
                        min:0,
						title: {
							text: 'Triangles'
						},
						plotLines: [{   
                            value: 100000,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  

                        }] 
					},
					plotOptions:{
						series:{
			                showCheckbox:true
			            }
					},
					legend: {
						enabled: false,
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'top',
						borderWidth: 0,
					},
					series: [{
						name: 'Triangles',
						data:{{TRIRes.TRIList|safe}} 
					}]
				},function(chart){
                    InitialYaxisLabelsTRI(chart);
                });


                $('#container3').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    xAxis: {
                        type:'linear',
                        tickInterval:50,
                        title: {
                            text: '帧数'
                        }
                    },
                    yAxis: {
                        min:0,
                        title: {
                            text: 'CPU时间(ms)'
                        }
                    },
                    tooltip: {
                        pointFormat: 'CPU时间: <b>{point.y:.1f} ms</b>'
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Render.OpaqueGeometry',
                        data: {{TRARes.OPA.List|safe}}
                    },{
                        name: 'Render.TransparentGeometry',
                        data: {{TRARes.TRA.List|safe}}
                    }]
                });

                $('#container4').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '累计分配的堆内存统计结果'
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '累计分配的堆内存(MB)'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: '累计分配的堆内存: <b>{point.y:.1f} MB</b>'
                    },
                    series: [{
                        name: '累计分配的堆内存',
                        data: {{GCRes|safe}}
                    }]
                });

				$('#container5').highcharts({
					chart: {
						type: 'pie'
					},
					title: {
						text:''
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							}
						}
					},
					series:[{
						name:'rate',
						colorByPoint: true,
						data:{{moduleRes|safe}}
					}]   
				});

				$('#container6').highcharts({
					chart: {
						type: 'pie'
					},
					title: {
						text:''
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							}
						}
					},
					series:[{
						name:'rate',
						colorByPoint: true,
						data:[{
							name:'FPS大于40',
							y:{{FPSrate.0|safe}}
						},{
							name:'FPS介于35和40之间',
							y:{{FPSrate.1|safe}}
						},{
							name:'FPS介于30和35之间',
							y:{{FPSrate.2|safe}}
						},{
                            name:'FPS介于20和30之间',
                            y:{{FPSrate.3|safe}}
                        },{
                            name:'FPS介于15和20之间',
                            y:{{FPSrate.4|safe}}
                        },{
                            name:'FPS介于10和15之间',
                            y:{{FPSrate.5|safe}}
                        },{
                            name:'FPS小于10',
                            y:{{FPSrate.6|safe}}
                        }]
					}]
				});
			

                $('#container7').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    xAxis: {
                        type:'linear',
                        tickInterval:50,
                        title: {
                            text: '帧数'
                        }
                    },
                    yAxis: {
                        min:10,
                        title: {
                            text: '内存占用(MB)'
                        }
                    },
                    tooltip: {
                        pointFormat: '内存占用: <b>{point.y:.1f} MB</b>'
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'UsedTotal',
                        data: {{MEMRes.UsedTotal|safe}}
                    },{
                        name: 'UsedUnity',
                        data: {{MEMRes.UsedUnity|safe}}
                    },{
                        name: 'UsedGFX',
                        data: {{MEMRes.UsedGFX|safe}}
                    },{
                        name: 'ReservedTotal',
                        data: {{MEMRes.ReservedTotal|safe}}
                    },{
                        name: 'ReservedUnity',
                        data: {{MEMRes.ReservedUnity|safe}}
                    },{
                        name: 'ReservedGFX',
                        data: {{MEMRes.ReservedGFX|safe}}
                    }]
                });

                $('#container8').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    xAxis: {
                        title: {
                            text: '时间戳(s)'
                        }
                    },
                    yAxis: {
                        min:0,
                        title: {
                            text: 'Fragments Shaded/pixel/Frame'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Fragments Shaded/pixel/Frame: <b>{point.y:.1f} </b>'
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Fragments Shaded/pixel/Frame',
                        data: {{GPURes.FragmentsShaded|safe}}
                    }]
                });

                $('#container9').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    xAxis: {
                        title: {
                            text: '时间戳(s)'
                        }
                    },
                    yAxis: {
                        min:10,
                        title: {
                            text: 'Shaders Busy(%)'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Shaders Busy: <b>{point.y:.1f}% </b>'
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Shaders Busy',
                        data: {{GPURes.ShadersBusy|safe}}
                    }]
                });

            });



	        function InitialYaxisLabelsFPS(chart)
	        {
	            var max=chart.yAxis[0].dataMax;
	            chart.yAxis[0].update({
	                max:max
	            });
	        }

	        function InitialYaxisLabelsDC(chart)
	        {
	            var max=chart.yAxis[0].dataMax;
	            if(max<200) max=220;
	            chart.yAxis[0].update({
	                max:max
	            });
	        }

	        function InitialYaxisLabelsTRI(chart)
	        {
	            var max=chart.yAxis[0].dataMax;
	            if(max<100000) max=100000+10;
	            chart.yAxis[0].update({
	                max:max
	            });
	        }

            function export_log(tablename)
            {
                //alert(tablename);
                window.open("/webtool/unity_profiling/exportLogToTxt/"+tablename);
            }

		</script>
        <style type="text/css">
            /* Table Head */
            #table-7 thead th {
            background-color: rgb(81, 130, 187);
            color: #fff;
            border-bottom-width: 0;
            }
            /* Heading and Column Style */
            #table-7 tr, #table-7 th {
            border-width: 1px;
            border-style: solid;
            }

            /* Padding and font style */
            #table-7 td, #table-7 th {
            padding: 5px 10px;
            font-size: 12px;
            font-family: Verdana;
            font-weight: bold;
            text-align: center;
            }
        </style>
    </head>
    <body>
    	<nav class="navbar-default navbar-static-top" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="/webtool/unity_profiling/index/">首页</a>  
                </div> 
            </div> 
        </nav>
        <div class="container-fluid"  style="padding:50px">
            <div class="row">
                <div class="col-md-4 column">
                    <div style="margin-top:100px">
                    <span ><font size="6">场景: {{scenename|safe}}</font></span><br>
                    <span ><font size="6">场景描述: {{scenedes|safe}}</font></span><br>
                    <span ><font size="6">机型: {{PhoneInfo.PhoneType|safe}}</font></span><br>
                    <span ><font size="6">分辨率: {{PhoneInfo.ResLength|safe}}X{{PhoneInfo.ResWidth|safe}}</font></span>
                    </div>
                </div>
                <div class="col-md-8 column">
                    <img src="/webtool/site_media/{{picpath}}/"  width="1000" height="500"/>
                </div>
            </div>   
        </div>
        <div style="padding:50px">
            <span title="每秒帧数"><font size="5">FPS (最大值:{{FPSRes.maxFPS|safe}} 最小值:{{FPSRes.minFPS|safe}} 均值:{{FPSRes.avgFPS|safe}})</font></span><br>
            <span><font size="4">正常范围建议20~30</font></span>
        </div>
        <div id="container0"></div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6 column" id="container6">
                </div>
                <div class="col-md-6 column">
                </div>
            </div>
        </div>

        <div style="padding:50px">
            <span><font size="5">累计分配的堆内存</font></span><br>
        </div>
        <div id="container4"></div>

        <div style="padding:50px">
            <span title="每帧CPU调用底层图形程序接口的次数"><font size="5">Draw Calls (最大值:{{DCRes.maxDC|safe}} 最小值:{{DCRes.minDC|safe}} 均值:{{DCRes.avgDC|safe}})</font></span><br>
            <span><font size="4">正常范围建议小于200</font></span>
        </div>
        <div id="container1"></div>
        <div style="padding:50px">
            <span title="每帧的三角形数"><font size="5">Triangles (最大值:{{TRIRes.maxTRI|safe}} 最小值:{{TRIRes.minTRI|safe}} 均值:{{TRIRes.avgTRI|safe}})</font></span><br>
            <span><font size="4">正常范围建议小于100k</font></span>
        </div>
        <div id="container2"></div>

        <div style="padding:50px">
            <span><font size="5">半透明和不透明的渲染耗时</font></span><br>
            <span><font size="4">半透明渲染耗时： (最大值:{{TRARes.TRA.max|safe}}ms 最小值:{{TRARes.TRA.min|safe}}ms 均值:{{TRARes.TRA.avg|safe}}ms)</font></span><br>
            <span><font size="4">不透明渲染耗时： (最大值:{{TRARes.OPA.max|safe}}ms 最小值:{{TRARes.OPA.min|safe}}ms 均值:{{TRARes.OPA.avg|safe}}ms)</font></span><br>
        </div>
        <div id="container3"></div>     

		<div style="padding:50px"><font size="5">GC.Collect()调用的统计</font><br>
        <span><font size="4">总帧数:{{GCCollectRes.FPSCount|safe}}帧<br>GC.Collect()调用的次数:{{GCCollectRes.GCCalls|safe}}<br>累计CPU时间:{{GCCollectRes.GCCPUTime|safe}}ms</font></span><br>
        </div>
        <div style="padding:50px"><font size="5">CPU各模块耗时占比</font></div>
        <div id="container5"></div>
        <div style="padding:50px"><font size="5">内存占用</font><br>
        <span><font size="4">Used Total (最大值:{{UsedTotalRes.max|safe}}MB 最小值:{{UsedTotalRes.min|safe}}MB 均值:{{UsedTotalRes.avg|safe}}MB)</font></span><br>
        <span><font size="4">Used Unity (最大值:{{UsedUnityRes.max|safe}}MB 最小值:{{UsedUnityRes.min|safe}}MB 均值:{{UsedUnityRes.avg|safe}}MB)</font></span><br>
        <span><font size="4">Used GFX (最大值:{{UsedGFXRes.max|safe}}MB 最小值:{{UsedGFXRes.min|safe}}MB 均值:{{UsedGFXRes.avg|safe}}MB)</font></span><br>
        <span><font size="4">Reserved Total (最大值:{{ReservedTotalRes.max|safe}}MB 最小值:{{ReservedTotalRes.min|safe}}MB 均值:{{ReservedTotalRes.avg|safe}}MB)</font></span><br>
        <span><font size="4">Reserved Unity (最大值:{{ReservedUnityRes.max|safe}}MB 最小值:{{ReservedUnityRes.min|safe}}MB 均值:{{ReservedUnityRes.avg|safe}}MB)</font></span><br>
        <span><font size="4">Reserved GFX (最大值:{{ReservedGFXRes.max|safe}}MB 最小值:{{ReservedGFXRes.min|safe}}MB 均值:{{ReservedGFXRes.avg|safe}}MB)</font></span><br>
        </div>

        <div id="container7"></div>
        
        {% if GPUFlag %}
        <div style="padding:50px">
            <span><font size="5">GPU结果</font></span><br>
        <div>
        <span title="每一个像素点在每一帧被渲染的次数"><font size="4">Fragments Shaded (最大值:{{FRARes.max|safe}} 最小值:{{FRARes.min|safe}} 均值:{{FRARes.avg|safe}})</font></span><br>
        <div id="container8"></div> 
        <span title="渲染消耗GPU的百分比"><font size="4">Shaders Busy (最大值:{{SHARes.max|safe}}% 最小值:{{SHARes.min|safe}}% 均值:{{SHARes.avg|safe}}%)</font></span><br>
        <div id="container9"></div>    
        {% endif %}  



        <div style="padding:50px">
            <span title="NGUI中UI面板的更新开销"><font size="5">UIPanel.LateUpdate</font></span><br>
            <span><font size="4">耗时：       (最大值:{{TRARes.UIP.max|safe}}ms 最小值:{{TRARes.UIP.min|safe}}ms 均值:{{TRARes.UIP.avg|safe}}ms)</font></span><br>
            <span><font size="4">堆内存分配： (总量:{{funtionGC.UIP|safe}}MB)</font></span><br>

            <span title="渲染画布的开销"><font size="5">Canvas.SendWillRenderCanvases</font></span><br>
            <span><font size="4">耗时：       (最大值:{{TRARes.CAN.max|safe}}ms 最小值:{{TRARes.CAN.min|safe}}ms 均值:{{TRARes.CAN.avg|safe}}ms)</font></span><br>
            <span><font size="4">堆内存分配： (总量:{{funtionGC.CAN|safe}}MB)</font></span><br>

            <span title="骨骼动画的更新开销"><font size="5">Animation.Update</font></span><br>
            <span><font size="4">耗时：：     (最大值:{{TRARes.ANI.max|safe}}ms 最小值:{{TRARes.ANI.min|safe}}ms 均值:{{TRARes.ANI.avg|safe}}ms)</font></span><br>
            <span><font size="4">堆内存分配： (总量:{{funtionGC.ANI|safe}}MB)</font></span><br>

            <span title="蒙皮计算的开销"><font size="5">MeshSkinning.Update</font></span><br>
            <span><font size="4">耗时：       (最大值:{{TRARes.MSK.max|safe}}ms 最小值:{{TRARes.MSK.min|safe}}ms 均值:{{TRARes.MSK.avg|safe}}ms)</font></span><br>
            <span><font size="4">堆内存分配： (总量:{{funtionGC.MSK|safe}}MB)</font></span><br>
        </div>
        
        {% if questionExists %} 
        <div style="padding:50px"><font size="5">备注：</font><font size="4">该场景的cpu_stack文件有{{LongfunctionPath|safe}}条长度大于500个字符的函数路径。</font>
        <a href="#" onclick="export_log('{{tablename|safe}}')" style="margin-left:10px">导出大于500字符的函数路径结果</a>
        </div>     
        {% endif %}  



    </body>   
 </html>