 <html>
     <head>
        <title>title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>                               
        <script src="/webtool/site_media/lib/highcharts/highcharts.js" type="text/javascript"></script>

        <script type="text/javascript">

		var L13projects='';
        var L10projects='';
        var L15projects='';
        {% for scene in scene_res.L13 %}
            L13projects=L13projects+"L13{{scene}}";
        {% endfor %}

        {% for scene in scene_res.L10 %}
            L10projects=L10projects+"L10{{scene}}";
        {% endfor %}

        {% for scene in scene_res.L15 %}
            L15projects=L15projects+"L15{{scene}}";
        {% endfor %}

        $(function (){
			mainChart();
        });

		function mainChart()
		{
			$.getJSON('/webtool/unity_profiling/getResultAll/',{type:"FPS",L13projects:L13projects,L10projects:L10projects,L15projects:L15projects},function(json){
				chart=new Highcharts.Chart({
					chart:{
						renderTo:'container'
					},
                    title: {
                        text: '不同场景FPS比较图',
                        x: -20 //center
                    },
                    xAxis: {
                        type:'linear',
                        tickInterval:50,
                        title: {
                            text: '帧数'
                        }
                    },
                    yAxis: { 
                        min:10, // 定义最小值  
                        title: {
                            text: 'FPS'
                        },
                        plotLines: [{   
                            value: 20,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                            label: {  
                                text: '正常范围'  
                            }  
                        },{  
                            value: 30,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                            label: {  
                                text: ''  
                            }  
                        }]  
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    plotOptions:{
                    },
                    
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: json
                },function(chart){
                    InitialYaxisLabelsFPS(chart);
                });	
			});

            $.getJSON('/webtool/unity_profiling/getResultAll/',{type:"drawCalls",L13projects:L13projects,L10projects:L10projects,L15projects:L15projects},function(json){
                chart=new Highcharts.Chart({
                    chart:{
                        renderTo:'container1'
                    },
                    title: {
                        text: '不同场景Draw Calls比较图',
                        x: -20 //center
                    },
                    xAxis: {
                        type:'linear',
                        tickInterval:50,
                        title: {
                            text: '帧数'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Draw Calls'
                        },
                        plotLines: [{   
                            value: 200,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                            label: {  
                                text: '临界值（小于该值的为正常范围）'  
                            }  
                        }] 
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: json
                },function(chart){
                    InitialYaxisLabelsDC(chart);
                }); 
            });

            $.getJSON('/webtool/unity_profiling/getResultAll/',{type:"Tris",L13projects:L13projects,L10projects:L10projects,L15projects:L15projects},function(json){
                chart=new Highcharts.Chart({
                    chart:{
                        renderTo:'container2'
                    },
                    title: {
                        text: '不同场景三角形数比较图',
                        x: -20 //center
                    },
                    xAxis: {
                        type:'linear',
                        tickInterval:50,
                        title: {
                            text: '帧数'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '三角形数'
                        },
                        plotLines: [{   
                            value: 100000,  
                            color: 'green',  
                            dashStyle: 'shortdash',  
                            width: 2,  
                            label: {  
                                text: '临界值（小于该值的为正常范围）'  
                            }  
                        }] 
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    plotOptions:{
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: json
                },function(chart){
                    InitialYaxisLabelsTRI(chart);
                }); 
            });
		}
		
        function InitialYaxisLabelsFPS(chart)
        {
            var max=chart.yAxis[0].dataMax;
            chart.yAxis[0].update({
                max:max
            });
        }

        function InitialYaxisLabelsDC(chart)
        {
            var max=chart.yAxis[0].dataMax;
            if(max<200) max=200;
            chart.yAxis[0].update({
                max:max
            });
        }

        function InitialYaxisLabelsTRI(chart)
        {
            var max=chart.yAxis[0].dataMax;
            if(max<100000) max=100000;
            chart.yAxis[0].update({
                max:max
            });
        }

		function changeprojectname(obj)
		{
            if(obj.value.indexOf('L13')!=-1)
            {
                if(obj.checked)
                {
                    if(L13projects.indexOf(obj.value)==-1)
                        L13projects=L13projects+obj.value;
                }
                
                else{
                    if(L13projects.indexOf(obj.value)!=-1)
                        L13projects=L13projects.replace(obj.value,'');  
                }
            }
            else if(obj.value.indexOf('L10')!=-1)
            {
                if(obj.checked)
                {
                    if(L10projects.indexOf(obj.value)==-1)
                        L10projects=L10projects+obj.value;
                }
                
                else{
                    if(L10projects.indexOf(obj.value)!=-1)
                        L10projects=L10projects.replace(obj.value,'');  
                }
            }
            else if(obj.value.indexOf('L15')!=-1)
            {
                if(obj.checked)
                {
                    if(L15projects.indexOf(obj.value)==-1)
                        L15projects=L15projects+obj.value;
                }
                
                else{
                    if(L15projects.indexOf(obj.value)!=-1)
                        L15projects=L15projects.replace(obj.value,'');  
                }
            }
            
		}
		
		function drawline()
		{
			mainChart();	
		}
	
        </script>
        <style type="text/css">
            /* Table Head */
            #table-7 thead th {
            background-color: rgb(81, 130, 187);
            color: #fff;
            border-bottom-width: 0;
            }
            /* Heading and Column Style */
            #table-7 tr, #table-7 th {
            border-width: 1px;
            border-style: solid;
            }

            /* Padding and font style */
            #table-7 td, #table-7 th {
            padding: 5px 10px;
            font-size: 12px;
            font-family: Verdana;
            font-weight: bold;
            text-align: center;
            }
        </style>
    </head>

    <body>
    	<nav class="navbar-default navbar-static-top" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="/webtool/unity_profiling/index/">首页</a> 
                </div> 
            </div> 
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-list"> 
                        <li class="nav-header">CPU性能总结</li> 
                        <li class="active"><a href="#">CPU占用</a></li> 
                        <li><a href="#">Library</a></li> 
                        <li><a href="#">Applications</a></li> 
                        <li class="nav-header">内存性能总结</li> 
                        <li><a href="#">内存占用</a></li> 
                    </ul> 
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding:20px;margin-left:10px;margin-top:10px;border-style:double;">
                                    <span>请选择场景:</span><br>
                                    <span>L13</span>
                                    {% for scene in scene_res.L13 %}
                                    <span><input type="checkbox" name="category" value="L13{{scene}}" onchange="changeprojectname(this)" checked="checked">{{scene}}</span>
                                    {% endfor %}
                                    <br>
                                    <span>L10</span>
                                    {% for scene in scene_res.L10 %}
                                    <span><input type="checkbox" name="category" value="L10{{scene}}" onchange="changeprojectname(this)" checked="checked">{{scene}}<PIN #5 - 格拉西亚历史讲座></span>
                                    {% endfor %}
                                    <br>
                                    <span>L15</span>
                                    {% for scene in scene_res.L15 %}
                                    <span><input type="checkbox" name="category" value="L15{{scene}}" onchange="changeprojectname(this)" checked="checked">{{scene}}</span>
                                    {% endfor %}
                                    <br>
                                    <button style="margin-left:200px" onclick="drawline()">确定</button>         
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <table id="table-7" >
                                <caption>FPS关键数据表格</caption>
                                <thead>
                                <th>项目名</th>
                                <th colspan="{{sceneCount.L13}}">L13</th>
                                <th colspan="{{sceneCount.L10}}">L10</th>
                                <th colspan="{{sceneCount.L15}}">L15</th>
                                </thead>
                                <tr>
                                <td>场景名</td>
                                {% for scene in FPS_res.scene %}
                                <td>{{scene}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>平均值</td>
                                {% for avgFPS in FPS_res.avgFPS %}
                                <td>{{avgFPS}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最大值</td>
                                {% for maxFPS in FPS_res.maxFPS %}
                                <td>{{maxFPS}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最小值</td>
                                {% for minFPS in FPS_res.minFPS %}
                                <td>{{minFPS}}</td>
                                {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table id="table-7">
                                <caption>Draw Calls关键数据表格</caption>
                                <thead>
                                <th>项目名</th>
                                <th colspan="{{sceneCount.L13}}">L13</th>
                                <th colspan="{{sceneCount.L10}}">L10</th>
                                <th colspan="{{sceneCount.L15}}">L15</th>
                                </thead>
                                <tr>
                                <td>场景名</td>
                                {% for scene in DC_res.scene %}
                                <td>{{scene}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>平均值</td>
                                {% for avgDC in DC_res.avgDC %}
                                <td>{{avgDC}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最大值</td>
                                {% for maxDC in DC_res.maxDC %}
                                <td>{{maxDC}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最小值</td>
                                {% for minDC in DC_res.minDC %}
                                <td>{{minDC}}</td>
                                {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table id="table-7">
                                <caption>Draw Calls关键数据表格</caption>
                                <thead>
                                <th>项目名</th>
                                <th colspan="{{sceneCount.L13}}">L13</th>
                                <th colspan="{{sceneCount.L10}}">L10</th>
                                <th colspan="{{sceneCount.L15}}">L15</th>
                                </thead>
                                <tr>
                                <td>场景名</td>
                                {% for scene in DC_res.scene %}
                                <td>{{scene}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>平均值</td>
                                {% for avgDC in DC_res.avgDC %}
                                <td>{{avgDC}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最大值</td>
                                {% for maxDC in DC_res.maxDC %}
                                <td>{{maxDC}}</td>
                                {% endfor %}
                                </tr>
                                <tr>
                                <td>最小值</td>
                                {% for minDC in DC_res.minDC %}
                                <td>{{minDC}}</td>
                                {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row" id="container">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row" id="container1">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row" id="container2">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>   
 </html>
 