 <html>
     <head>
        <title>title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>                               
        <script src="/webtool/site_media/lib/highcharts/highcharts.js" type="text/javascript"></script>
        <script type="text/javascript">
		
		var projects='L12L13L14LH01';
        $(function (){
			mainChart();
			subChart('手游上线App Store公司内审标准',1);
			subChart('手游上线MTL质量标准',2);	
			subChart('手游上线QA推荐标准（非强制）',3);	
			subChart('手游上线QA质量标准',4);	
			subChart('手游上线UE质量标准',5);	
			subChart('手游上线必过标准',6);	
			subChart('手游上线SA质量标准',7);	
			
        });

		function mainChart()
		{
			$.getJSON('/webtool/assign_test_case/getTrendAll/',{projects:projects},function(json){
				chart=new Highcharts.Chart({
					chart:{
						renderTo:'container'
					},
					title: {
						text: '质量保障总通过率趋势图',
						x: -20 //center
					},
					xAxis: {
						categories: ['已开发1个月', '已开发2个月','已开发3个月', '已开发4个月','已开发5个月', '已开发6个月','已开发7个月', '已开发8个月','已开发9个月', '已开发10个月','已开发11个月', '已开发12个月','已开发13个月', '已开发14个月','已开发15个月', '已开发16个月','已开发17个月', '已开发18个月','已开发19个月', '已开发20个月','已开发21个月', '已开发22个月','已开发23个月', '已开发24个月','已开发25个月', '已开发26个月','已开发27个月', '已开发28个月','已开发29个月', '已开发30个月','已开发31个月', '已开发32个月','已开发33个月', '已开发34个月','已开发35个月', '已开发36个月']
					},
					yAxis: {
						floor: 0,
						ceiling: 100,
						title: {
							text: '通过率(%)'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						valueSuffix: '%'
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					plotOptions: {
						line: {
							dataLabels: {
								formatter: function () {
								return Highcharts.numberFormat(this.y,1)+'%';
							},
								enabled: true
							},
							enableMouseTracking: true
						}
					},
					series: json
				});
					
			});
		}
		function subChart(subproject,index)
		{
			$.getJSON('/webtool/assign_test_case/getTrendSub/',{projects:projects,subproject:subproject},function(json){
					chart=new Highcharts.Chart({
						chart:{
							renderTo:'container'+index
						},
						title: {
							text: subproject+'通过率趋势图',
							x: -20 //center
						},
						xAxis: {
							categories: ['已开发1个月', '已开发2个月','已开发3个月', '已开发4个月','已开发5个月', '已开发6个月','已开发7个月', '已开发8个月','已开发9个月', '已开发10个月','已开发11个月', '已开发12个月','已开发13个月', '已开发14个月','已开发15个月', '已开发16个月','已开发17个月', '已开发18个月','已开发19个月', '已开发20个月','已开发21个月', '已开发22个月','已开发23个月', '已开发24个月','已开发25个月', '已开发26个月','已开发27个月', '已开发28个月','已开发29个月', '已开发30个月','已开发31个月', '已开发32个月','已开发33个月', '已开发34个月','已开发35个月', '已开发36个月']
						},
						yAxis: {
							floor: 0,
							ceiling: 100,
							title: {
								text: '通过率(%)'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
							}]
						},
						tooltip: {
							valueSuffix: '%'
						},
						legend: {
							layout: 'vertical',
							align: 'right',
							verticalAlign: 'middle',
							borderWidth: 0
						},
						plotOptions: {
							line: {
								dataLabels: {
									formatter: function () {
									return Highcharts.numberFormat(this.y,1)+'%';
								},
									enabled: true
								},
								enableMouseTracking: true
							}
						},
						series: json
					});
						
				});
			
		}
		
		
		function changeprojectname(obj)
		{
			if(obj.checked)
			{
				switch (obj.value)
				{
					case 'L12':
						if(projects.indexOf('L12')==-1)
							projects=projects+'L12';
						break;
					case 'L13':
						if(projects.indexOf('L13')==-1)
							projects=projects+'L13';
						break;
					case 'L14':
						if(projects.indexOf('L14')==-1)
							projects=projects+'L14';
						break;
					case 'L15':
						if(projects.indexOf('L15')==-1)
							projects=projects+'L15';
						break;
					case 'LH01':
						if(projects.indexOf('LH01')==-1)
							projects=projects+'LH01';
						break;
					default:
						alert('该项目不存在');
						break;
				}
			}
			
			else
			{
				switch (obj.value)
				{
					case 'L12':
						if(projects.indexOf('L12')!=-1)
							projects=projects.replace('L12','');
						break;
					case 'L13':
						if(projects.indexOf('L13')!=-1)
							projects=projects.replace('L13','');
						break;
					case 'L14':
						if(projects.indexOf('L14')!=-1)
							projects=projects.replace('L14','');
						break;
					case 'L15':
						if(projects.indexOf('L15')!=-1)
							projects=projects.replace('L15','');
						break;
					case 'LH01':
						if(projects.indexOf('LH01')!=-1)
							projects=projects.replace('LH01','');
						break;
					default:
						alert('该项目不存在');
						break;
				}
				
			}
		}
		
		function drawline()
		{
			mainChart();
			subChart('手游上线App Store公司内审标准',1);
			subChart('手游上线MTL质量标准',2);	
			subChart('手游上线QA推荐标准（非强制）',3);	
			subChart('手游上线QA质量标准',4);	
			subChart('手游上线UE质量标准',5);	
			subChart('手游上线必过标准',6);	
			subChart('手游上线SA质量标准',7);		
		}
	
        </script>
    </head>

    <body>
    	<nav class="navbar-default navbar-static-top" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="/webtool/assign_test_case/index/">首页</a>
                    <a class="navbar-brand">雷火测试用例管理平台</a>   
                </div> 
            </div> 
        </nav>
        <div style="padding:5px">
            <span style="margin-left:50px">请选择需要显示趋势的游戏:</span>
            <span style="margin-left:10px"><input type="checkbox" name="category" value="L12" onchange="changeprojectname(this)" checked="checked">L12</span> 
            <span style="margin-left:10px"><input type="checkbox" name="category" value="L13" onchange="changeprojectname(this)" checked="checked">L13</span>  
            <span style="margin-left:10px"><input type="checkbox" name="category" value="L14" onchange="changeprojectname(this)" checked="checked">L14</span>
            <span style="margin-left:10px"><input type="checkbox" name="category" value="L15" onchange="changeprojectname(this)" checked="checked">L15</span>
            <span style="margin-left:10px"><input type="checkbox" name="category" value="LH01" onchange="changeprojectname(this)" checked="checked">LH01</span>
			<button onclick="drawline()">确定</button>         
        </div>
        <div id="container" style="min-width:1600px;height:400px"></div>
        <div id="container1" style="min-width:1600px;height:400px"></div>
        <div id="container2" style="min-width:1600px;height:400px"></div>
        <div id="container3" style="min-width:1600px;height:400px"></div>
        <div id="container4" style="min-width:1600px;height:400px"></div>
        <div id="container5" style="min-width:1600px;height:400px"></div>
        <div id="container6" style="min-width:1600px;height:400px"></div>
        <div id="container7" style="min-width:1600px;height:400px"></div>
    </body>   
 </html>
 