 <html>
     <head>
        <title>title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://keleyi.com/keleyi/phtml/colorbox/colorbox.css" />
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>                               
        <script src="/webtool/site_media/lib/highcharts/highcharts.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://keleyi.com/keleyi/phtml/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript">
            $(function(){
                $('#container').highcharts({
                    chart: {
                        type: 'column',
                    },
                    title: {
                        text: '不同场景耗电量柱状图',
                        x: -20 //center
                    },
                    xAxis: {
                        categories: ['场景1', '场景2','场景3','场景4', '场景5','场景6','场景7', '场景8','场景9','场景10']
                    },
                    yAxis: {
                        floor: 0,
                        ceiling: 10000,
                        title: {
                            text: '耗电量(mA/s)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: 'mA/s',

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    plotOptions: {
                        series: {  
                            cursor: 'pointer',  
                            events: {  
                                click: function(event) { 
                                    //window.open('http://www.baidu.com','','width=255,height=142');
                                    // alert(this.name +' clicked\n'+  
                                    //       'Alt: '+ event.altKey +'\n'+  
                                    //       'Control: '+ event.ctrlKey +'\n'+  
                                    //       'Shift: '+ event.shiftKey +'\n');  
                                    // location.href='http://www.baidu.com';  
                                }  
                            }  
                        } ,

                        line: {
                            dataLabels: {
                                formatter: function () {
                                return Highcharts.numberFormat(this.y,1)+'mA/s';
                            },
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        connectNulls:true,
                        name: '耗电量',
                        data: {{PCList|safe}}
                    }]
                });

                $(".keleyi_com").colorbox({ rel: 'group1', transition: "none", innerWidth: '700px' });


            });

            function validate_required(field,alerttxt){
                    with (field){
                      if (value==null||value==""){
                          alert(alerttxt);
                          return false;
                      }
                      else if(alerttxt=="场景耗电量必须填写"){
                        if(isNaN($("#powerconsumption").val(),10)){
                            alert("耗电量必须为数字");
                            return false;
                        }
                        else
                            return true;
                      }
                      else{
                          return true;
                      }
                  }
            }
            function validate_form(thisform){
                with (thisform)
                  {
                    if (validate_required(powerconsumption,"场景耗电量必须填写")==false){
                        powerconsumption.focus();
                        return false;
                    }
                    if (validate_required(sceneabstract,"场景描述必须填写")==false){
                        sceneabstract.focus();
                        return false;
                    }
                    if (validate_required(picfile,"请选择要上传的场景图片")==false){
                        picfile.focus();
                        return false;
                    }
                  }
            }
        </script>
    </head>

    <body>
        <nav class="navbar-default navbar-static-top" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="/webtool/assign_test_case/index/">首页</a>
                    <a class="navbar-brand">雷火测试用例管理平台</a>   
                </div> 
            </div> 
        </nav>
        <div style="float:left;padding:20px">
            <form id="UnityForm" action="/webtool/assign_test_case/scenePC/" onsubmit="return validate_form(this)" method="post" enctype="multipart/form-data">
                <label for="picfile">场景图片:</label>
                <input type="file" name="picfile" id="picfile"/><br>
                <label for="powerconsumption">场景耗电量(mA/s):</label>
                <input style="margin-left:10px" type="text" name="powerconsumption" id="powerconsumption"/><br>
                <label for="sceneabstract">场景描述:</label>
                <input style="margin-left:44px" type="text" name="sceneabstract" id="sceneabstract"/><br>
                <input type="submit" name="submit" value="提交" />
            </form>
        </div>
        <div id="container"></div>
        
        {% for img in imgs %}
        <div style="margin-left:40px;padding:10px;height:350px;float:left">
            <div>
            <span>场景{{img.id}}:</span>
            <a class="keleyi_com" href="/webtool/site_media/{{img.model_pic}}">图片</a>
            </div>
            <span>描述:{{img.model_des}}</span>
        </div>   
        {% endfor %}
    </body>   
 </html>
 